<h1>Student Grid</h1>
<!-- Search input -->
<input type="text" [(ngModel)]="searchQuery" (input)="searchStudents()" placeholder="Search...">

<div *ngIf="creatingStudent" class="modal-backdrop">
    <div class="modal-container">
        <h2 class="title">Add New Student</h2>
        <form class="student-creating" (ngSubmit)="createStudent()">
            <div class="section">
                <div class="info">
                    <div>NIC:</div>
                    <input [(ngModel)]="newStudent.nic" name="nic">
                </div>
                <div class="info">
                    <div>First Name:</div>
                    <input [(ngModel)]="newStudent.firstName" name="firstName">
                </div>
                <div class="info">
                    <div>Last Name:</div>
                    <input [(ngModel)]="newStudent.lastName" name="lastName">
                </div>
                <div class="info">
                    <div>Date of Birth:</div>
                    <input [(ngModel)]="newStudent.dobString" name="dateOfBirth" type="date">
                </div>
            </div>
            <div class="section-border"></div>
            <div class="section">
                <div class="info">
                    <div>Email:</div>
                    <input [(ngModel)]="newStudent.email" name="email" type="email">
                </div>
                <div class="info">
                    <div>Mobile:</div>
                    <input [(ngModel)]="newStudent.mobile" name="mobile">
                </div>
                <div class="info">
                    <div>Address:</div>
                    <input [(ngModel)]="newStudent.address" name="address">
                </div>
                <div class="info">
                    <div>Profile Img:</div>
                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                </div>
            </div>
            <div class="section-border"></div>
            <div class="actions">
                <button type="submit">Add Student</button>
                <button type="button" (click)="cancelCreate()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="grid">
    <div class="student-row">
        <div>Profile</div>
        <!--Sorting Buttons-->
        <button (click)="sortStudents('nic')">NIC</button>
        <button (click)="sortStudents('firstName')">First Name</button>
        <button (click)="sortStudents('lastName')">Last Name</button>
        <button (click)="sortStudents('email')">Email</button>
        <button (click)="sortStudents('mobile')">Mobile</button>
        <!--        <button (click)="sortStudents('dateOfBirth')">Sort by Date of Birth</button>-->
        <!-- New Student Button -->
        <button (click)="createNewStudent()">Add Student</button>
    </div>
    <div class="student-view" *ngFor="let student of sortedStudents">
        <div class="student-row" (click)="toggleDetails(student)">
            <img [src]="student.profileImgUrl" alt="Profile Image" class="stu-img">
            <div>{{student.nic}}</div>
            <div>{{student.firstName}}</div>
            <div>{{student.lastName}}</div>
            <div>{{student.email}}</div>
            <div>{{student.mobile}}</div>
            <div class="actions">
                <button (click)="editStudent(student)">Edit</button>
                <button (click)="deleteStudent(student)">Delete</button>
            </div>
        </div>
        <div class="student-details" *ngIf="student.showDetails"
             [ngClass]="{'hide': student.editing}">
            <img [src]="student.profileImgUrl" alt="Profile Image" class="img">
            <div class="section-border"></div>
            <div class="section">
                <div class="info">
                    <div>NIC</div>
                    <div>{{student.nic}}</div>
                </div>
                <div class="info">
                    <div>First Name</div>
                    <div>{{student.firstName}}</div>
                </div>
                <div class="info">
                    <div>Last Name</div>
                    <div>{{student.lastName}}</div>
                </div>
                <div class="info">
                    <div>Date of Birth</div>
                    <div>{{student.dateOfBirth | date: 'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="section-border"></div>
            <div class="section">
                <div class="info">
                    <div>Email</div>
                    <div>{{student.email}}</div>
                </div>
                <div class="info">
                    <div>Mobile</div>
                    <div>{{student.mobile}}</div>
                </div>
                <div class="info">
                    <div>Address</div>
                    <div>{{student.address}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="student.editing">
            <form class="student-editing" (ngSubmit)="updateStudent(editingStudents[student.nic])">
                <div class="section">
                    <div class="info">
                        <div>NIC</div>
                        <input [(ngModel)]="editingStudents[student.nic].nic" name="nic" disabled>
                    </div>
                    <div class="info">
                        <div>First Name</div>
                        <input [(ngModel)]="editingStudents[student.nic].firstName" name="firstName">
                    </div>
                    <div class="info">
                        <div>Last Name</div>
                        <input [(ngModel)]="editingStudents[student.nic].lastName" name="lastName">
                    </div>
                    <div class="info">
                        <div>Date of Birth</div>
                        <input [(ngModel)]="editingStudents[student.nic].dobString" name="dateOfBirth" type="date">
                    </div>
                </div>
                <div class="section-border"></div>
                <div class="section">
                    <div class="info">
                        <div>Email</div>
                        <input [(ngModel)]="editingStudents[student.nic].email" name="email" type="email">
                    </div>
                    <div class="info">
                        <div>Mobile</div>
                        <input [(ngModel)]="editingStudents[student.nic].mobile" name="mobile">
                    </div>
                    <div class="info">
                        <div>Address</div>
                        <input [(ngModel)]="editingStudents[student.nic].address" name="address">
                    </div>
                    <div class="info">
                        <div>Profile Img</div>
                        <input type="file" (change)="onFileSelected($event)" accept="image/*">
                    </div>
                </div>
                <div class="section-border"></div>
                <div class="actions">
                    <button type="submit">Save Changes</button>
                    <button type="button" (click)="cancelEdit(student)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
